body{
  background: url(https://i.pinimg.com/736x/1b/43/82/1b4382a3d16303e33ad34c2e3fa337a3.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}



#home-main {
    display: flex;

    align-items: center;  /* Vertically center align the content */
    justify-content: space-between;  /* Add space between image and description */
    gap: 10px;  /* Add space between the two sections */
    color: #FBF9F8;
  }
  
  .description {
    max-width: 500px;  /* Limit the text section width */
    align-items: center;
    justify-content: center;
  }

.greeting{
  font-size: 12px;
  font-weight: bold;
}

.name{
  margin: 15px 0px;

}

.level{
  font-family: monospace;
  font-weight: bold;
  color: #EF560F;
  margin: 20px 0px;
}

.aboutMe-btn{
  font-family: monospace;
  margin: 30px 0px;
  background: linear-gradient(to right, #ef560fa1, white);
  border: 1px solid #EF560F  ;
  border-radius: 15px;
  padding: 5px 10px;
  transition: padding 1s;
}

.aboutMe-btn:hover{
  padding: 5px 30px;

}

.detail{
  font-size: 12px;
  ;
}





 .thumbnail{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

 }


 .thumbnail img{
  width: 200px;
  height: 200px;
  object-fit: cover;

  border: solid 5px #fbf9f860;
  box-shadow: 1px 1px 20px #FBF9F8;
  border-radius: 300px;
    
}

