#intro{
    background-color:  rgba(79, 99, 103, 0.157);
    text-align: center;
    border-radius: 10px;
}

.container{
    padding: 15px 0px;
}

.form{
    padding: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    margin: 10px;
}



