.skillContainer{
    background-color: #504a48
    ;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.skillFilled{
    background: linear-gradient(to right,#fe5f55ff, white);
    border-radius: 20px;
}

.skillTitle{
    text-align: center;
    padding: 5px 5px ;
}
